@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Neutral Face';
        src: url('./fonts/NeutralFaceRegular.eot');
        src: url('./fonts/NeutralFaceRegular.eot?#iefix') format('embedded-opentype'),
            url('./fonts/NeutralFaceRegular.woff2') format('woff2'),
            url('./fonts/NeutralFaceRegular.woff') format('woff'),
            url('./fonts/NeutralFaceRegular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Neutral Face';
        src: url('./fonts/NeutralFaceBold.eot');
        src: url('./fonts/NeutralFaceBold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/NeutralFaceBold.woff2') format('woff2'),
            url('./fonts/NeutralFaceBold.woff') format('woff'),
            url('./fonts/NeutralFaceBold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-Bold.eot');
        src: url('./fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-Bold.woff2') format('woff2'),
            url('./fonts/Manrope-Bold.woff') format('woff'),
            url('./fonts/Manrope-Bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-Regular.eot');
        src: url('./fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-Regular.woff2') format('woff2'),
            url('./fonts/Manrope-Regular.woff') format('woff'),
            url('./fonts/Manrope-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-ExtraBold.eot');
        src: url('./fonts/Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-ExtraBold.woff2') format('woff2'),
            url('./fonts/Manrope-ExtraBold.woff') format('woff'),
            url('./fonts/Manrope-ExtraBold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-SemiBold.eot');
        src: url('./fonts/Manrope-SemiBold.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-SemiBold.woff2') format('woff2'),
            url('./fonts/Manrope-SemiBold.woff') format('woff'),
            url('./fonts/Manrope-SemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-Medium.eot');
        src: url('./fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-Medium.woff2') format('woff2'),
            url('./fonts/Manrope-Medium.woff') format('woff'),
            url('./fonts/Manrope-Medium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-ExtraLight.eot');
        src: url('./fonts/Manrope-ExtraLight.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-ExtraLight.woff2') format('woff2'),
            url('./fonts/Manrope-ExtraLight.woff') format('woff'),
            url('./fonts/Manrope-ExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Manrope';
        src: url('./fonts/Manrope-Light.eot');
        src: url('./fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
            url('./fonts/Manrope-Light.woff2') format('woff2'),
            url('./fonts/Manrope-Light.woff') format('woff'),
            url('./fonts/Manrope-Light.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }
    
    
}